* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.flex {
    display: flex;
}

body {
    background-color: #00316B;
    color: white;
}

nav {
    background-color: #046FD2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav ul {
    width: 90%;
    display: flex;
    justify-content: center;
}

nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
}

nav a:hover {
    color: gray;
}

.border {
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
}

.border:hover {
    border: 1px solid dimgray;
}

.border-list {
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    border-radius: 50px;
}

.warning {
    color: red;
}

.center {
    align-items: center;
}

.nav-page {
    margin: 20px;
}

.btn {
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
    padding: 10px;
    background-color: #046FD2;
    color: white;
}

.btn:hover {
    background-color: #e6d7cc;
}

.footage {
    width: 300px;
    height: 200px;
}

.footage-show {
    width: 1080px;
    height: 720px;
}

.div85 {
    width: 85%;
}

.div15 {
    width: 15%;
}

.media-info {
    margin-left: 25px;
}

.media-module {
    width: 80vw;
    margin: 20px;
}





